{
  "parser": "babel-eslint",

  "rules": {
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "off",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  },

  "plugins": [
    "react",
    "flowtype",
    "flowtype-errors"
  ],

  "extends": [
    "plugin:flowtype/recommended"
  ],

  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
