{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "parser": "flow"
}
